/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #039be5;
}

.parallax-container {
  min-height: 200px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}


@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}



.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}



.portfolio .col
{
	margin-bottom: 24px;
}

.portfolio h4
{
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.portfolio h5
{
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.portfolio h6
{
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 45px;
}

.portfolio hr
{
	width: 40px;
	margin-bottom: 45px;
}

.portfolio .portfolio-holder
{
	clear: both;
	text-align: center;
}

.portfolio img
{
	width: 33%;
	display: inline-block;
	float: left;
}



.navigationactionbarcontentscreentitle
 {
    position: absolute;
    color: #000000;
    display: inline-block;
    padding: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 0;
	 font-size: 1.24rem;
  line-height: 1.804rem;
  margin: 1.2rem 0 0.656rem 0;
	text-transform: uppercase;

}

.myborder
{

  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.social-links {
    margin: 10px;
}

.social-icons {
    font-size:32px;
  }

  #social-icons {
    margin-top: 35px;
}

#social-icons a {
    text-decoration: none;
}

.card .card-content {
  height: 400px;
}